.button-container {
  margin-top: 0.5rem;
  display: flex;
  /* min-height: 15vh; */
  justify-content: center;
  align-items: center;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 10px;
  width: 170px;
  height: 140px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #1bc044;
  font-size: 15px;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .user-icon {
  /* width: 100px; */
  height: 80px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-btn {
  color: #1abc86;
  line-height: 40px;
  font-size: 50px;
}

.radio-btn .user-icon h3 {
  color: #1abc86;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  width: auto;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid #1bc044;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
