.Input-one{
  margin-top: 10%;
  border: solid 1.5px darkblue;
  width: 60%;
  height: 18%;
}

.Input-two{
  margin-top: 0%;
  width: 80%;
  height: 80%;
  border: solid 1.5px darkblue;    
}

.Input-three{
  margin-top: 15%;
  width: 80%;
  height: 80%;
  border: solid 1.5px darkblue;    
}

.exceptuonal-input{
  width: 10%;
  float: right;
  margin-right: 2%;
  border: solid;
  border-width: 2px;
  border-color: #D9D9D9;
  border-radius: 20px;
  margin-top: 2%;
}

.notebook-input{
  width: 250;
}
