.label-one{

    margin-top: 10% ;
    font-size: 14;
    margin-left: 40%;
    
}

.label-two{

    margin-top: 2%;
    font-size: 14;
    margin-left: 40%;

}

.label-three{

    margin-top: 72%;

}

.label-th{

    margin-top: 65%;

}

.label-five{

    margin-top: 15%;
}

.return-label-one{

    margin-top: 10%;
    margin-left: 45%;
    
}

.label-six{
    margin-top: 20%;
}

.label-seven{

    margin-top: 25%;
}

.return-label-two{

    margin-top: 2%;
    margin-left: 45%;
    
}

.yellow-label{

    margin-top: 5%;
    margin-left: 35%;
}

.yellow-label-one{

    margin-top: 50%;
}


.custom-pro-one{

    margin-top: 14%;
}

.yellow-label-two{

    margin-top: 5%;
    margin-left: 5%;
}

.yellow-label-three{

    margin-top: 45%;
    margin-left: 5%;
}

.ex-label-one{

    margin-left: 40%;
    margin-top: 10%;
    font-size: 14;

}

.ex-label-two{

    margin-left: 40%;
    margin-top: 2%;
    font-size: 14;

}

.label-ten{

    margin-top: 8%;
    font-size: 14;
}

.label-ten-one{

    margin-top: 1%;
    font-size: 14;
}

.label-ten-two{

    margin-top: 2%;
    font-size: 14;
}

.label-loan{

        margin-top: 10%;
        font-size: 14;
        margin-left: 35%;
    
}

.label-loan-one{

    margin-top: 2%;
    font-size: 14;
    margin-left: 35%;

}

.label-loan-blue{

    margin-top: 10%;
    font-size: 14;
    color: #0288D1;

}



.label-loan-blue-one{

    margin-top: 2%;
    font-size: 14;
    color: #0288D1;
}

.label-loan-blue-red{

    margin-top: 2%;
    font-size: 14;
    color: red;
}

.label-loan-black{

    margin-top: 2%;
    font-size: 14;
    color: black;
}


.label-loan-blue-ten{

    margin-top: 2%;
    font-size: 14;
    color: #32CD32;
}

.label-loan-blue-nine{

    margin-top: 2%;
    font-size: 14;
    color: red;
}

.topic-first{

    margin-top: 3%;
    font-size: 15;
    margin-left: 5%;
    color: darkblue;
}

.sub-topic{

    margin-left: 5%;
    font-size: 13;
}

.active-label-one{

    margin-top: 3%;
    font-size: 13;
    margin-left: 13%;
    color: darkblue;

}

.active-label-two{

    margin-top: 0.5%;
    font-size: 13;
    margin-left: 13%;
    color: darkblue;

}

.active-label-three{

    margin-top: 5%;
    font-size: 13;
    margin-left: 25%;
    color: darkblue;

}

.main-a-one{

    margin-top: 5%;
    font-size: 13;
    margin-left: 35%;
    color: darkblue;

}

.main-a-two{

    margin-top: 2%;
    font-size: 13;
    margin-left: 35%;
    color: darkblue;

}

.main-a-three{

    margin-top: 4%;
    font-size: 13;
    margin-left: 35%;
    color: darkblue;

}


.active-label-three-a{

    margin-top: 18%;
    font-size: 13;
    margin-left: 25%;
    color: darkblue;

}

.active-label-four{

    margin-top: 0.5%;
    font-size: 13;
    margin-left: 25%;
    color: darkblue;

}

.sub-topic-two{

    margin-left: 12%;
    font-size: 13;
}

.tall-hash{

    margin-top: 25%;
}

.direct{

    margin-top: 35%;
}

.direct-one{

    margin-top: 15%;
}

.direct-aa{

    margin-top: 80%;
}

.direct-two{

    margin-top: 86%;
}

.tall-hash-one{

    margin-top: 0%;
}

.tall-hash-three{

    margin-top: "50%";
}

.tall-hash-four{

    margin-top: "100%";
}

.varify-label-one{

    margin-top: 12%;
    font-size: 14;
    margin-left: 45%;
    color: darkblue;
    
}

.varify-label-two{

    margin-top: 2%;
    font-size: 14;
    margin-left: 45%;
    color: darkblue;
    
}

.verify-new-one{

    margin-top: 12%;
    font-size: 14;
    margin-left: 20%;
    color: #0288D1;
    
}

.verify-new-two{

    margin-top: 2%;
    font-size: 14;
    margin-left: 20%;
    color: #0288D1;
    
}

.customer-label-topic{

    margin-top: 3%;
    font-size: 14;
    margin-left: 5%;
    color: darkblue;

}

.customer-label-two{

    margin-top: 3%;
    font-size: 14;
    margin-left: 13%;
    color: darkblue;

}

.customer-label-three{

    margin-top: 2%;
    font-size: 14;
    margin-left: 13%;
    color: darkblue;

}

.customer-other-one{

    margin-top: 3%;
    font-size: 14;
    margin-left: 15%;
    color: #0288D1;

}

.customer-other-two{

    margin-top: 2%;
    font-size: 14;
    margin-left: 15%;
    color: #0288D1;

}

.customer-maas{

    margin-left: 5%;
    color: red;
    margin-top: 3%;
    font-size: 14;
}

.maas-label-one{

    margin-top: 10%;
    font-size: 14;
    margin-left: 20%;
    color: darkblue;

}


.maas-label-two{

    margin-top: 0%;
    font-size: 14;
    margin-left: 20%;
    color: darkblue;

}

.amount-label-one{

    margin-top: 10%;
    font-size: 14;
    margin-left: 35%;
    color: darkblue;

}

.amount-label-two{

    margin-top: 2%;
    font-size: 14;
    margin-left: 35%;
    color: darkblue;

}

.maas-label-hash-one{

    margin-top: 35%;
    font-size: 14;
    margin-left: 90%;
   
}

.internal-label-hash-one{

    margin-top: 50%;
    font-size: 14;
    margin-left: 90%;
   
}


.maas-label-hash-two{

    margin-top: 0%;
    font-size: 14;
    margin-left: 90%;
   
}

.maas-details-one{

        margin-top: 5%;
        font-size: 14;
        color: #0288D1;
        margin-left: 25%;
   
}

.maas-details-two{

    margin-top: 0%;
    font-size: 14;
    color: red;
    margin-left: 25%;

}

.maas-details-three{

    margin-top: 0%;
    font-size: 14;
    color: darkblue;
    margin-left: 25%;

}

.cus-ex-one{

    margin-left: 7%;
    color: darkblue;
    font-size: 14;
    
}

.cus-ex-two{

    margin-left: 7%;
    color: #0288D1;
    font-size: 14;
    
}

.cus-ex-three{

    margin-left: 7%;
    color: darkblue;
    font-size: 14;
    margin-top: 3%;
    
}

.cus-ex-four{

    margin-left: 7%;
    color: #32CD32;
    font-size: 14;
    
}

.internal-one{

    margin-left: 5%;
    color: red;
    margin-top: 3%;
    font-size: 14;

}

.reject-two-page{

    margin-top: 20%;
    font-size: 14;
    margin-left: 40%;
    color: darkblue;
}

.main-label-one{

    margin-top: 6%;
    font-size: 14;
    margin-left: 0%;
    color: #0288D1;
    
}

.main-label-two{

    margin-top: 5%;
    font-size: 14;
    margin-left: 0%;
    color: #0288D1;
    
}

.main-label-three{

    margin-top: 20%;
    font-size: 14;
    margin-left: 0%;
    color: #0288D1;

}

.main-label-four{

    margin-top: 5%;
    font-size: 14;
    margin-left: 0%;
    color: #0288D1;

}

.main-topic-final{

    color: white;
    font-size: 10;
    float: left;
    width: 95%;
    margin-top: 2%;
    margin-left: 2%;

}

.red-word{

    margin-left: 14%;
    margin-top: 3%;
    color: red;
    font-size: 14;
    
}

.xx-one{

    margin-top: 5%;
    color: red;
}

.yy-one{

    margin-top: 2%;
    color: red;
}

.zz-one{

    margin-top: 2%;
    color: darkblue;
}

.cc-one{

    margin-top: 2%;
    color: #32CD32;
}

.xx-two{

    margin-top: 2%;
    color: black;
}

.ss-two{

    margin-top: 10%;
    color: black;
}

.yy-two{

    margin-top: 5%;
    color: black;
}

.xx-three{

    margin-top: 2%;
    color: #32CD32;
}

.xx-one-a{

    margin-top: 7%;
    color: red;
}

.topic-aa{

    margin-left: 14%;
    margin-top: 3%;
    color: red;
    font-size: 14;
}

.now-a{

    margin-top: 5%;
    margin-left: 35%;
    color: darkblue;
}

.now-b{

    margin-top: 2%;
    margin-left: 35%;
    color: darkblue;
}

.now-c{

    margin-top: 2%;
    margin-left: 35%;
    color: red;
}
.lbl-credit{
    color:grey
  }
  .top-corner{
    float: right;
  }
  .top-corner-bottom{
    float: right;
    font-size: 10px;
  }
  .label-font{
    font-size: 10px;
  }
  .hTagStyle{
    color: #0288D1;
    font-weight: 600;
    margin-left: 2%;
  }
  .exceptional-date-label{
    margin-top: 5%;
    color: black;
  }
  .aTag{
    cursor: pointer;
  }
  .textTag{
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 10%;
  }
  .textTag2{
    color: #0288D1;
    text-align: center;
   font-weight: 700;
  }
  .exceptional-label{
    font-weight: 600;
    color: grey;
  }
  .search-label{
float: right;
margin-right: 2%;
margin-top: 2.5%;
color: grey;
font-weight: 600;
  }
  .loan-textTag{
color: black;
text-align: center;
margin-top: 8%;
font-size: 16px;
  }
.loan-textTag2{
color:#0288D1 ;
text-align: center;
font-weight: 700;
}
.loan-label{
margin-left: 45%;
color: grey;
}
.loan-textTag3{
color: black;
text-align: center;
margin-top: 7%;
font-size: 16px;
}
.loan-textTag4{
  color:#0288D1;
  text-align: center;
  font-weight: 700;
}
.loan-label2{
margin-top: 1%;
font-size: 16px;
}
.loan-label3{
  color:#0288D1;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.notebook-label{
  margin-top: 3%;
  margin-left: 25%;
  color: grey;
}
.notebook-label2{
margin-top: 5%;
color: grey;
}
.exceptional-approval-pTag{
color:#2196F3;
margin-top: 10px;
margin-left: 10px;
}
.exceptional-approval-pTag2{
margin-top: 10px;
margin-left: 10px;
}
.exceptional-approval-pTag3{
  color:black;
  margin-top: 10px;
  margin-left: 10px;
  }
.exceptional-approval-label{
color:#FF5722;
font-size:20px;
font-weight: 600;
}
.exceptional-approval-label2{
text-align: left;
color:red;
margin-left: 40px;
margin-top: 20px;
}
.exceptional-approval-label3{
margin-top: 10px;
color: grey;
}
.exceptional-approval2-label{
text-align: left;
margin-top: 30px;
margin-left: 60px;
color:#093577;
font-size: 15px;
}
.exceptional-approval2-label2{
  text-align: left;
  margin-left: 60px;
  color:#3CBA41;
  font-size: 14px;
  }
.font-weightStyle{
  font-weight: 700;
}
