// 
// _table.scss
// 

.table {
  th {
      font-weight: $font-weight-bold;
  }

  .table-light{
    color: $body-color;
    border-color: $table-border-color;
    background-color: $table-head-bg;
  }
}

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }
}


.table-dark>:not(:last-child)>:last-child>*{
  border-bottom-color:  $table-dark-border-color;
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}

.table-credit{
  margin-right: 2%;
  width: 100%;
  height: 100%;
}

.table-exceptional{
  margin-left: 2%;
  width: 100%;
  height: 100%;
}

.table-headers{
  min-width: 120px;
  font-weight: 800;
}

.table-data{
  color: grey;
}

.credit-headers{
  min-width: 120px;
}

.credit-data{
  color: grey;
}