.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.td-wrapper {
  min-width: 40em;
  border: 0.5px solid rgb(218, 217, 217);
  border-collapse: collapse;
}

.col-wrapper {
  padding-top: 10px;
}

/*
.Table.thead.tr.th {
  position: sticky;
} */

/* .cust-width {
  width: calc((100vw - 250px) / 3) !important;
} */

/* @media screen and (max-width: 480px) {
  .splitter {
    flex-direction: column;
  }
} */
